<div>
    <p id="tagline1">Bold. Authentic. Memorable.</p>
    <p id="tagline2">Your one stop shop for innovatively designed web and mobile applications.</p>
</div>

<img src="../../assets/images/newWebsiteSlider.png" alt="Ayala Virtual Marketing & Development- Software Development, Web Design, & Digital Marketing" id="slider">

<p class="bodytext">Got a ground-breaking idea but need a visionary software engineer to bring your project to life? Using the latest software technologies, design trends, and Agile practices, Ayala Virtual designs, develops, and deploys reliable and secure software solutions for any device, browser, or OS.</p>

<hr>

<h1>Why Choose Ayala Virtual For Your Custom Software Development Needs?</h1>
<br>
<p class="bodytext">Ayala Virtual is a Long Island-based custom software development company that specializes in developing innovative software solutions and user-centric apps that give users a seamless digital experience. Using a combination of responsive web design, clean code, and white-hat SEO tactics, I create custom web and mobile applications that are fully accessible and optimized for mobile devices and search engines. Whether you need a redesign of an existing website, a full stack web application built from the ground up, or a user-friendly app for mobile users, I create scroll-stopping designs that turn every swipe, zoom, and tap into a user experience.</p>

<hr>

<h2 class="sectiontitles">Certifications</h2>
<br>
<div class="certs1">
    
        <div class="text-center">
            <div class="card" style="width: 30rem;">
                <img src="../../assets/images/GenerationUSA-Certificate.png" class="card-img-top certimgs" alt="Generation USA + Community College of Denver's Junior Full Stack Java Developer Certification">
                <div class="card-body">
                  <h5 class="card-title">Jr. Full Stack Java Developer | Generation USA / Community College of Denver</h5>
                  <p class="card-text justify">Awarded Certification as a Junior Full Stack Java Developer by Generation USA and the Community College of Denver after graduating a rigorous 15-week software engineering program investing over 460+ hours mastering the key technologies required for building robust full stack web applications utilizing Java and the Spring Boot framework.</p>
                </div>
            </div>
        </div>

        
        <div class="text-center">
            <div class="card" style="width: 30rem;">
                <img src="../../assets/images/DMI-Certificate.png" class="card-img-top certimgs" alt="Digital Marketing Institute Certified Digital Marketing Professional">
                <div class="card-body">
                  <h5 class="card-title">Certified Digital Marketing
                    Professional | Digital Marketing Institute</h5>
                  <p class="card-text justify">Recognized as a Certified Digital Marketing
                    Professional by the Digital Marketing Institute, having mastered an industry-recognized, globally respected digital marketing certification framework, showcasing expertise in Website Optimization, Analytics, Search Engine Optimization (SEO), Digital Marketing and Strategy, Content Marketing, Social Media Marketing, Email Marketing, Pay-Per-Click (PPC) Advertising, and Display and Video Advertising.</p>
                </div>
            </div>
        </div>
</div>        

<div class="certs2">
        <div class="text-center">
            <div class="card" style="width: 30rem;">
                <img src="../../assets/images/AMA-Certification.png" class="card-img-top certimgs" alt="American Marketing Association Certified Professional">
                <div class="card-body">
                  <h5 class="card-title">Professional Certified Marketer in Digital Marketing | American Marketing Association</h5>
                  <p class="card-text justify">Certified with the American Marketing Association as a Professional Certified Marketer in Digital Marketing, Content Marketing, Social Media Marketing, Search Engine Optimization (SEO), Paid Search (PPC) using Google Ads, Display and Video Advertising, Email Marketing, Website Optimization, Analytics using Google Analytics, and Digital Marketing Strategy.</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="card" style="width: 30rem;">
                <img src="../../assets/images/ADP-mentorship-cert.png" class="card-img-top certimgs" alt="ADP Software Engineering Mentorship Certification">
                <div class="card-body">
                  <h5 class="card-title">Software Engineering Mentorship Certificate | ADP</h5>
                  <p>Completed 2 mentoring sessions / 100 minutes with senior software engineers from Endowus and JP Morgan Chase via ADP List.</p>
                </div>
            </div>
        </div>

</div>
<br>
<hr>
<br>


<br>
<h2 class="sectiontitles">Trusted By</h2>
<div class="trusted1">
    
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/LatinX+Logo.jpg" class="card-img-top trustedimgs" alt="LatinX+">
                <div class="card-body">
                  <h5 class="card-title">LatinX+</h5>
                  <p class="card-text justify">LatinX+ is a nonprofit HIV/AIDS organization whose mission is to elevate the voices of Latinx PLHIV in advocacy and public policy spaces and speak with a collective voice on issues of concern to their community. </p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/SeroLogo.png" class="card-img-top trustedimgs" alt="The Sero Project">
                <div class="card-body">
                  <h5 class="card-title">The Sero Project</h5>
                  <p class="card-text justify">HIV/AIDS nonprofit organization, The Sero Project centers PLHIV leadership to end HIV criminalization, mass incarceration, racism and social injustice by supporting inclusive PLHIV networks to improve policy outcomes, advance human rights and promote healing justice. Their efforts to end HIV criminalization are focused on ending inappropriate criminal prosecutions of PLHIV, including for non-disclosure of their HIV status, potential or perceived HIV exposure or HIV transmission and on building and supporting PLHIV networks.</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/WBEC-Logo.jpg" class="card-img-top trustedimgs" alt="WBEC Pacific">
                <div class="card-body">
                    <h5 class="card-title">WBEC Pacific</h5>
                    <p class="card-text justify">The Pacific chapter of Women's Business Enterprise Council, or WBEC Pacific, is a Fortune 1000 corporation partner whose mission is to drive economic growth, development, and access for Women's Business Enterprises in a global marketplace by collaborating with our constituents on Certification, Opportunities, Resources, and Engagement.</p>
                </div>
            </div>
        </div>
</div>
    
<div class="trusted2">
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/PGELogo.png" class="card-img-top trustedimgs" alt="Pacific Gas & Electric">
                <div class="card-body">
                    <h5 class="card-title">Pacific Gas & Electric</h5>
                    <p class="card-text justify">As a prominent West Coast utilities provider, Pacific Gas and Electric Company (PG&E) is one of the largest combined natural gas and electric energy companies in the United States.</p>
                </div>
            </div>
        </div>
    
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/ICIC-Logo.jpg" class="card-img-top trustedimgs" alt="ICIC">
                <div class="card-body">
                    <h5 class="card-title">Initiative for a Competitive Inner City</h5>
                    <p class="card-text justify">ICIC is a Harvard-based nonprofit organization that drives inclusive economic prosperity in under-resourced communities through innovative research and programs to create jobs, income, and wealth for local residents.</p>
                </div>
            </div>
        </div>
    
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/MODELogo.webp" class="card-img-top trustedimgs" alt="MODE Studios">
                <div class="card-body">
                    <h5 class="card-title">MODE Studios</h5>
                    <p class="card-text justify">MODE Studios is a turn key solution provider for immersive architectural installations, live events, broadcast, experiential marketing, and interactive experiences.</p>
                </div>
            </div>
        </div>

</div>
<br>
<hr>
<br>

<h3 class="sectiontitles">What I Can Do For You</h3>
<br>

<div class="services1">
    <div class="card" style="width: 30rem;">
        <div class="text-center">
            <img src="../../assets/images/webdesign.png" alt="web design" id="serviceimg1">
            <div class="card-body">
                <h3>Web Design</h3>
                <p class="justify">Web design is the process of planning, conceptualizing, and arranging content online. The different areas of web design include web graphic design, user interface design (UI design), and user experience design (UX design). Designing a website goes beyond aesthetics to include the website's overall functionality. Web design also includes web apps, mobile apps, and user interface design.</p>
                <p class="justify">Your website is the foundation of your online presence, but it's just one of 1.88 billion websites that are currently on the internet. I use a combination of color schemes, typography, and icons, to create intuitive user interface designs and a memorable user experience.</p>
            </div>
        </div>
    </div>

    <div class="card" style="width: 30rem;">
        <div class="text-center">
            <img src="../../assets/images/softwaredev.png" alt="software development" id="serviceimg2">
            <h3>Software Development</h3>
            <p class="justify">Software development is the process of creating a piece of software designed to perform a particular task.</p>
            <p class="justify">Front end and back end development involves different skill sets and technologies. Front end development is programming which focuses on the visual elements of a website or app that a user will interact with (the client side). Meanwhile, back end development focuses on the side of a website users can't see (the server side). For this reason, software developers are usually classified as front end, back end or full stack developers. As a full stack developer, I have the skills and experience to work on both the client (front end) and server (back end) sides.</p>
        </div>
    </div>
</div>

<div class="services2">
    <div class="card" style="width: 30rem;">
        <div class="text-center">
            <img src="../../assets/images/seo.png" alt="search engine optimization" id="serviceimg3">
            <h3>Search Engine Optimization (SEO)</h3>
            <p class="justify">Search engine optimization (SEO) is the process used to optimize a website's technical configuration and content relevance so its pages can become more easily found by relevant user search queries. As a result, they rank higher on search engine results pages (SERPs).</p>
            <p class="justify">With almost 2 billion websites on the internet today, it's become increasingly hard for potential customers to find yours amongst all the clutter. I use white hat SEO tactics to optimize your site for search engines and drive more users to your website.</p>
        </div>
    </div>

    <div class="card" style="width: 30rem;">
        <div class="text-center">
            <img src="../../assets/images/dataanalytics.png" alt="data analytics" id="serviceimg4">
            <h3>Data Analytics</h3>
            <p class="justify">One of the major advantages of integrating data and analytics is that they are highly trackable and measurable. These analytics allow developers to track user behavior, such as how many times they click on a link, how much time they spend on a web page, etc. This provides insight on any potential issues users may be running into in order to modify and adapt a website's UX/UI design moving forward. This includes measuring how a website is performing, how users are navigating through a website, and much more.</p>
            <p class="justify">Knowing how to interpret these analytics can help developers quickly scrap features that aren't working. As a developer with a background in digital marketing, I use a combination of A/B testing and data analysis to create fully functional and intuitive user interface designs for your web and mobile applications.</p>
        </div>
    </div>
</div>
<br>
<hr>
<br>


<h4 class="centertext">Have an Idea for a Project? Let's Connect!</h4>
    <div>
        <ul class="centertext">
            <li class="social">
                <a href="https://www.linkedin.com/in/ayalavirtual">
                    <img src="../../assets/images/linkedinlogo.png" alt="LinkedIn" id="linkedinlogo">
                </a>
            </li>
            <li class="social">
                <a href="https://github.com/ayalavirtual">
                    <img src="../../assets/images/githublogo.jpg" alt="GitHub" id="githublogo">
                </a>
            </li>        
        </ul>
    </div>