<div class="row">
    <div class="col">
        <img src="../../assets/images/Headshot-Casual-crop-circle.png" alt="Erica Ayala, Full Stack Java Developer">
    </div>

    <div class="col text">
        <h1>Hey! I'm Erica, a Full Stack Java Developer, AMA Certified Digital Marketer, and the owner of Ayala Virtual.</h1>

        <p>I work with entrepreneurs, small business owners, and large companies, helping them build their online presence and connect with their target audience in the digital space. Before starting my career as a software developer, I worked in digital marketing as a consultant for small businesses here on Long Island. While in the process of building my own website, I discovered my love for web design, which led to me adding it to the list of services I offer. From there, I branched out into designing and developing websites for larger businesses and national companies. Although I started off working mostly on the front-end as a WordPress developer, I eventually taught myself to code and transitioned into a full stack developer and software engineer. I now specialize in web design, web and software development, and SEO (search engine optimization).</p>

        <p>Whether you need to redesign an existing site, build a new mobile app or website from scratch, or ongoing site maintenance, I offer flexible service options and pricing packages to help brands and businesses of every size. I genuinely love what I do and take pride in my work, striving to keep myself updated with the latest technology so as to meet the fast-paced demands of the ever-changing tech industry.</p>
    </div>
</div>

<button routerLink="/portfolio">Check Out My Portfolio</button>

<router-outlet></router-outlet>