<p id="bodytext">
    I’ve managed a number of projects, overseeing the software and application development life cycle (SDLC) from design to implementation: creating wireframes, site layouts and design mockups, executing the debugging, testing, and deployment of intricate full stack software applications, and ensuring delivery of high quality software utilizing test-driven development (TDD) and continuous integration. 
</p>

<p id="github">For more code examples, check me out on <a href="https://github.com/ayalavirtual">GitHub</a>!</p>

<p class="titles">Library API</p>
<div>
    <a href="https://github.com/AyalaVirtual/LibraryAPI">
        <img src="../../assets/images/AuthorBookERD.webp" alt="Library API Entity Relationship Diagram">
    </a>
    <p>
        A versatile and user-friendly solution tailored to meet the needs of book enthusiasts, librarians, and bibliophiles. With a focus on efficient author and book management, this API offers a range of capabilities, allowing users to seamlessly search for authors, add new authors, update author information, and remove authors from the database. The API also offers powerful search capabilities, enabling users to to search for all books in the library, or search for, add, edit, and delete books authored by a specific writer. This project allows libraries and literature enthusiasts to digitally organize and retrieve information, making it an indispensable tool for book-related data management.
    </p>
</div>

<hr>

<p class="titles">Medication Tracker & Reminder API</p>
<div>
    <a href="https://github.com/AyalaVirtual/MedicationTrackerAPI">
        <img src="../../assets/images/medapi.png" alt="Medication Tracker API HTTP Endpoints Spreadsheet">
    </a>
    <p>
        The Medication Tracking and Reminder REST API is a sophisticated healthcare management system designed to empower patients and pharmacy customers to efficiently track their current and past medications while setting up convenient reminders. This digital solution offers a seamless registration and login process, ensuring that users can maintain a personal profile tailored to their unique medication needs. Beyond just storing medication information, the system facilitates searching for, adding, editing, and deleting medications and associated reminders, all from the user’s account. This project is a valuable tool for patients and pharmacy customers that leverages a comprehensive set of technologies to achieve these functionalities, making it a valuable asset in the realm of healthcare management.
    </p>
</div>

<hr>

<p class="titles">Music Playlist API</p>
<div>
    <a href="https://github.com/AyalaVirtual/MusicPlaylistAPI">
        <img src="../../assets/images/Playlist.png" alt="Music Playlist API">
    </a>
    <p>
        A compelling project that utilizes Java and the Spring framework to create a Music Playlist API. This RestAPI offers users the ability to seamlessly register and log in to their personalized profiles, granting them access to a vast music library. Users can search for songs, explore diverse music genres, and curate a unique playlist of their favorite tracks. This project demonstrates my proficiency in back-end development, database management, and API design, highlighting my commitment to providing users with an intuitive and feature-rich platform for managing their music preferences. It showcases my passion for creating user-centric solutions while harnessing the capabilities of Java and Spring for robust and reliable web applications.
    </p>
</div>

<hr>

<p class="titles">Rock, Paper, Scissors</p>
<div>
    <a href="https://github.com/AyalaVirtual/Rock-Paper-Scissors">
        <img src="../../assets/images/Rock-Paper-Scissors.webp" alt="Rock, Paper, Scissors Gameplay">
    </a>
    <p>
        An engaging implementation of the classic Rock, Paper, Scissors game, designed to be played directly in the terminal using Java. This project presents a simple yet enjoyable gaming experience, offering two distinct modes of play: a one-player mode, where you can challenge the computer’s randomized choices, and a two-player mode, perfect for playing with a friend. With this project, I showcased my proficiency in Java and my ability to create a user-friendly command-line interface that adds a touch of nostalgia to the gaming experience. Also demonstrated in this project is my ability to develop interactive and entertaining software even within the constraints of the console environment. 
    </p>
</div>

<hr>

<p class="titles">Tic-Tac-Toe</p>
<div>
    <a href="https://github.com/AyalaVirtual/Tic-Tac-Toe">
        <img src="../../assets/images/tictactoe.webp" alt="Tic-Tac-Toe Game Interface">
    </a>
    <p>
        A straightforward yet engaging Tic-Tac-Toe game that I developed using a blend of front-end technologies such as HTML, CSS, Bootstrap, and vanilla JavaScript. This project demonstrates my proficiency in web development and interactive design, as I implemented DOM manipulation to create a seamless and enjoyable gaming experience. With a sleek and responsive interface, my Tic-Tac-Toe game offers a compelling example of my capabilities in web development, encapsulating the core principles of front-end design and user interaction. 
    </p>
</div>