#bodytext {
    padding-top: 70px;
    padding-bottom: 50px;
    margin-left: 70px;
}

#github {
    font-size: 23px;
    text-align: center;
    padding-bottom: 50px;
}

.titles {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

div {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
    padding-bottom: 50px;
}

a > img {
    height: 400px;
    width: 600px;
    padding-right: 50px;
}

